<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pagina Inicial - index</title>
    </head>
    <body>
        <nav>
            <a href="/index">Pagina Inicia</a> |
            <a href="contato">Contato</a> |
        </nav>

        {% block content %}
        {% endblock %}
     
        {% block content2 %}
        {% endblock %}

        <h1>Filipe Moreira Testes</h1>
    </body>
</html>